.error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 24px;
  height: calc(100vh - 100px);

  a {
    background-color: #121212;
    color: #fff;
    padding: 14px 24px;
    border-radius: 4px;
  }
}
